.slide-img {
  width: 100%;
  height: 949px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .slide-img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 375px) {
  .slide-img {
    width: 100%;
    height: auto; // 949px;
    object-fit: cover;
  }
}

.slide-container {
  position: relative; /* 定位基準點 */
}

.carousel-caption-center {
  position: absolute;
  top: 50%;      /* 頂部距離 50% */
  left: 50%;     /* 左側距離 50% */
  transform: translate(-50%, -50%); /* 關鍵：往回推自身寬高的 50% */
  z-index: 10;
  text-align: center;
  width: 80%; /* 限制寬度避免太寬 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 增加文字陰影以提升可讀性 */
}

.swiper-title {
    font-size: 64px;
}

.swiper-text {
  font-size: 32px;
}

@media (max-width: 768px) {
  .swiper-title {
      font-size: 40px;
  }

  .swiper-text {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .swiper-title {
    font-size: 24px;
  }

  .swiper-text {
    font-size: 12px;
  }
}

/* bullet圓點 */
.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px white solid;
    width: 12px;
    height: 12px;
    opacity: 1;
    margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
    background-color: #F7F6EF
}